<h1 class="text-center my-3">Create Specie</h1>

<% if flash[:notice] %>
  <% flash[:notice].each do |error| %>
    <p class="text-center text-danger my-1"><%= error %> </p>
  <%end%>
<% end %>

<div class=" container">
  <div class="row">
    <div class="col-xs-10 col-md-6 offset-xs-1 offset-md-3">
      <%= form_for @bird, remote: true do |f|%>
      <div class="form-group">
        <%= f.label :popular_name %>
        <%= f.text_field :popular_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cientific_name %>
        <%= f.text_field :cientific_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cientific_name %>
        <%= f.file_field :profile_image, class: "form-control" %>
      </div>
      <div class="text-center mt-4">
        <%=f.submit 'Create', class: "btn btn-outline-light"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
